body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    animation: slideInFromTop 1s ease-out;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    animation: fadeIn 1s ease-in-out;
}

.form-container, .results-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 600px;
    width: 100%;
    animation: fadeInUp 0.5s ease-in-out;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    animation: slideInFromLeft 0.5s ease-in-out;
}

form label {
    font-weight: bold;
}

form input, form select, form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    animation: fadeInUp 0.5s ease-in-out;
}

form select {
    font-size: 16px;
    padding: 12px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.number-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.number-input button {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.number-input button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.number-input input {
    width: 60px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#norma-data, #result {
    margin-top: 20px;
}

#norma-data h2, #result p {
    margin: 0 0 10px;
}

#norma-data p, #result p {
    line-height: 1.6;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

#loading {
    text-align: center;
    font-size: 18px;
    color: #007bff;
    margin-top: 20px;
}

.spinner {
    margin: 16px auto;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 123, 255, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.collapsible {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.3s ease;
    animation: slideInFromBottom 0.5s ease-in-out;
}

.collapsible:hover {
    background-color: #0056b3;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f4f4f4;
    margin-top: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.view-pdf {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-pdf:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.fullscreen-button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    font-size: 15px;
    transition: background-color 0.3s ease;
    position: relative;
    top: 10px;
    z-index: 10;
}

.fullscreen-button:hover {
    background-color: #0056b3;
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
